<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Project</title>
    <link rel="stylesheet" href="/css/greet.css">
</head>

<body>
    <div class="container">
        <div class="heading">
            <h1>G R E E T I N G S</h1>
        </div>
        <div class="warning"><span class="warningMessage"></span></div>
        <div class="textBox">

            <input type="text" name="" value="" placeholder="please enter a name" class="nameTextBox" size="40">

            <span class="counter">0</span>

        </div>
        <div class="radioButtons">
            <label>
                <input type="radio" name="languageRadio" class="languageRadioName" value="english">
                <span class="languages">English</span>
            </label>
            <label>
                <input type="radio" name="languageRadio" class="languageRadioName" value="sepedi">
                <span class="languages">Sepedi</span>
            </label>
            <label>
                <input type="radio" name="languageRadio" class="languageRadioName" value="zulu">
                <span class="languages">Isizulu</span>
            </label>
        </div>
        <div class="clickButtons">
            <button class="greetNameBtn" type="button" name="button">Greet Me</button>
            <button class="resetButton" type="button" name="button">Reset counter</button>

        </div>
        <div class="message">
            <strong><span class="myGreetings"></span></strong>
        </div>
    </div>


</body>


</html>