<div class="container">
    <div class="heading">
<h1>Greeted Times</h1>
    </div>
    <h5 style="font-size:larger"> Hello, {{greeted}} has been greeted {{countGreetedTimes}}  time(s)</h5>
            
       <div class="">
           <p>
<a href="/greeted">Back</a>

               <a href="/">Home</a>
           </p>
             
               
            </div>
</div>