<div class="container">
    <div class="heading">
<h1>How many times each username has been greeted</h1>
    </div>
    <h5> Hello,{{greetedPerson}} has been greeted {{counter}}  times</h5>


            </div>
</div>