<div class="container">
    <div class="heading">
<h1>How many times each username has been greeted</h1>
    </div>
    <h5> Hello, {{greeted}} has been greeted {{getCounter}}  times</h5>
            
       <div class="clickButtons">
               <form action="/" method="get"><button type="submit" name="button">Home</button></form>
             <form action="/greeted" method="get"><button type="submit" name="button">Back</button></form>
               
            </div>
</div>